<footer>
    <div class="container wow animated rollIn">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title"><h4>Drop a line</h4></div>
                        <form id="contact-us-form" method="post" action="contact-us/send">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="contact_name" name="contact_name" type="text" class="validate" value="">
                                    <label for="contact_name">Your name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="contact_email" name="contact_email" type="email" class="validate" value="">
                                    <label for="contact_email">Your email</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="contact_message" name="contact_message" class="materialize-textarea" style="height: 22px;"></textarea>
                                    <label for="contact_message">Message</label>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col s12">
                                    <button class="btn-flat btn-flat-bg main-blue waves-effect waves-light right" type="submit">Send<i class="material-icons right">send</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title"><h4>Info</h4></div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi consectetur consequatur cum, cumque deserunt ea est eum facilis inventore iusto modi optio praesentium provident quidem sed tenetur ullam, voluptatibus!
                        <iframe style="max-width: 100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBIx563F641hvuqGlUCzs-TEihx4ypIjSY
    &q=Bulgaria" width="960" height="400" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>