<nav class="nav-extended brown">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">FbxShop</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/">home</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/shopping-cart/">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> shopping cart
                    <span class="badge">{{session.cart.totalQuantity}}</span>
                </a>
            </li>
            <!-- Dropdown Structure -->
            <ul id="dropdown-user" class="dropdown-content">
                {{#if login}}
                    <li><a href="/user/profile">user account</a></li>
                    <li class="divider"></li>
                    <li><a href="/user/logout">logout</a></li>
                {{else}}
                    <li><a href="/user/signup">sign up</a></li>
                    <li><a href="/user/signin">sign in</a></li>
                {{/if}}
            </ul>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown-user"><i class="fa fa-user" aria-hidden="true"></i> user management<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <!-- Mobile menu Trigger-->
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <!-- Mobile menu -->
        <ul class="side-nav" id="mobile-menu">
            <li><a href="/">home</a></li>
            <li>
                <a href="/shopping-cart/">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> shopping cart
                    <span class="badge">{{session.cart.totalQuantity}}</span>
                </a>
            </li>
            {{#if login}}
            <li><a href="/user/profile">user account</a></li>
            <li class="divider"></li>
            <li><a href="/user/logout">logout</a></li>
            {{else}}
            <li><a href="/user/signup">sign up</a></li>
            <li><a href="/user/signin">sign in</a></li>
            {{/if}}
        </ul>
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#game">game models</a></li>
            <li class="tab"><a href="#movie">movie models</a></li>
        </ul>
    </div>
</nav>
