<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{{title}}</title>
    <link href="/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/animate.css/animate.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {{{body}}}
    {{> footer}}
    <script src="/materialize/dist/js/materialize.min.js"></script>
    <script src="/javascripts/init-materialize.js"></script>
    <script src="/wow/dist/wow.min.js"></script>
    <script src="/javascripts/init-wow.js"></script>
  </body>
</html>
